* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (min-width: 320px) {
  .landing {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .body {
    margin: 3px;
    padding: 3px;
  }

  .body-ctn {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .body-sct-four {
    font-weight: bold;
  }

  .landing-btn-ctn {
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .body {
    margin: 5px;
    padding: 5px;
    font-size: 3vw;
  }

  .demo-sct-ctn {
    font-size: 4vw;
  }

  .demo-sct-username-usr,
  .demo-sct-password-pwd {
    font-size: 3vw;
  }

  .landing-btn-ctn {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .body {
    margin: auto;
    font-size: 1.75vw;
  }

  .demo-sct-ctn {
    font-size: 3vw;
  }

  .demo-sct-username-usr,
  .demo-sct-password-pwd {
    font-size: 2vw;
  }

  .landing-btn-ctn {
    margin: 25px;
  }
}
