* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
}

.body {
  font-family: "Neuton", serif;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 175px;
  padding-right: 175px;
}

.btn-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-left: 450px;
  padding-right: 450px;
  border-bottom: 1px solid red;
}

.btn {
  padding: 5px;
}

#cowabunga {
  font-weight: bold;
}

#login {
  border: 1px solid black;
}

#createuser {
  border: 1px solid black;
}
