* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (min-width: 320px) {
  .results-ctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .results-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
  }

  .usr-stats-txt {
    font-weight: bold;
  }

  .workout-name {
    font-size: 6vw;
  }

  .login-btn-cancel-link {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .results-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
  }
}
