* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.resultsList {
  border: 1px solid black;
  text-align: left;
  padding-left: 5px;
  overflow: hidden;
}

.results-container {
  display: grid;
  grid-template-columns: 175px 175px;
  justify-content: center;
  gap: 15% 20%;
  margin-top: 2.5%;
  margin-bottom: 5%;
}
