* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (min-width: 320px) {
  .workout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .workout-form-label {
    padding-bottom: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .workout-form-label {
    font-size: 7vw;
  }

  .workout-btn-ctn {
    margin: 10%;
  }

  .workout-form-input {
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  .workout-form-input {
    width: 50%;
  }
}
