* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.pizza_dudes_got_30_seconds {
  border: 1px solid black;
  float: right;
  clear: right;
  padding: 10px;
  margin-right: 30px;
}
