* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.login-form-ctn {
  display: grid;
}

.login-banner {
  color: #77b55a;
  text-decoration: none;
  text-shadow: -1.5px 2px 0px #af0d1a;
}

label {
  font-family: "Bangers", cursive;
  color: #77b55a;
  text-decoration: none;
  text-shadow: -1px 1.5px 0px #af0d1a;
}

input {
  position: relative;
  border: 1px solid green;
}

.login-btn-ctn {
  display: grid;
  /* grid-template-columns: 50% 50%; */
}

@media only screen and (min-width: 320px) {
  .login-banner {
    font-size: 420%;
    margin: 6%;
    padding: 6%;
  }

  label {
    font-size: 200%;
    padding: 1%;
  }

  /*****! Form Container *****/
  .login-form-ctn {
    grid-template-columns: 46% auto;
    grid-template-rows: 50% 50%;
    column-gap: 5%;
  }

  /**! Username **/
  .login-form-usr {
    margin: 1%;
    padding: 1%;
    justify-self: end;
  }

  .login-form-usr-input {
    justify-self: left;
    align-self: center;
  }

  /**! Password **/
  .login-form-pwd {
    margin: 1%;
    padding: 1%;
    justify-self: end;
  }

  .login-form-pwd-input {
    justify-self: start;
    align-self: center;
  }

  /*****! Button Container *****/
  .login-btn-ctn {
    margin-top: 14%;
    grid-template-columns: auto 47%;
    gap: 16%;
  }

  /**! Cancel Button **/
  .login-btn-cancel {
    justify-self: start;
  }

  /**! Login Button **/
  .login-btn-login {
    justify-self: end;
  }
}



@media only screen and (min-width: 768px) {
  .login-banner {
    margin: 0;
    padding: 6%;
    font-size: 800%;
    text-shadow: -2px 2px 0px #af0d1a;
  }

  label {
    font-size: 300%;
  }

  .login-form-ctn {
    column-gap: 2%;
  }

  #input-box {
    width: 56%;
  }

  .login-form-pwd-input,
  .login-form-usr-input {
    margin-top: 2%;
    justify-self: start;
    width: 85%;
  }

  .login-btn-ctn {
    margin: 2%;
    padding: 2%;
    grid-template-columns: 40% auto;
    gap: 16%;
  }
}



@media only screen and (min-width: 1024px) {
  label {
    text-shadow: -1.5px 2px 0px #af0d1a;
  }

  #input-box {
    width: 38%;
  }

  .login-form-pwd-input,
  .login-form-usr-input {
    width: 100%;
  }
}
