* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (min-width: 320px) {
  .login-banner {
    padding: 5px;
    font-size: 11vw;
  }

  .login-form{
    margin: 10px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .login-btn-ctn {
    margin: 12px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center
  }

  form {
    margin: 10px;
  }
  
}



@media only screen and (min-width: 768px) {
  .login-btn-ctn {
    margin: 12px;
    padding: 15px;
    display: flex;
    flex-direction: row;
  }

  
}



@media only screen and (min-width: 1024px) {
  .login-form{
    margin: 0;
  }
}
