* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Bangers", cursive;
  font-size: medium;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid green;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1.5px;
  left: 1.5px;
  right: 1.5px;
  bottom: 1.5px;
  border-top: 1px solid red;
}

.footer {
  color: #77b55a;
  text-decoration: none;
  text-shadow: -0px 1px 0px #af0d1a;
}

@media only screen and (min-width: 320px) {
  .footer{
    position: relative;
    /* margin-top: 4%; */
    /* padding-top: 4%; */
  }
}

@media only screen and (min-width: 768px) {
  footer{
    position: fixed;
  }
  .footer {
    font-size: 125%;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    position: fixed;
    font-size: 120%;
  }
}
