@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

@import url("https://fonts.googleapis.com/css?family=Neuton&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Neuton", serif;
  font-size: 25px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: "Bangers", cursive;
}

nav,
footer {
  font-family: "Bangers", cursive;
  padding: 1% 0;
  background-color: #aaa;
}

p {
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.subtag {
  font-family: "Neuton", serif;
  font-size: small;
  margin-top: -4%;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}
