@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

@import url("https://fonts.googleapis.com/css?family=Neuton&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Bangers", cursive;
}

p {
  padding-left: 10%;
  padding-right: 10%;
}

header {
  padding: 12% 0;
}
section {
  width: 100%;
}
.pizzaIMG{
  display: none;
}


@media only screen and (min-width: 500px){
  #title,.subtag{
    display: none;
  }
  p {
    width: 300px;
    font-size: 12px;
    text-align: center;
  }
  .btn-ctn {
    display:inline;
    flex-direction: row;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    padding-bottom: 30px;
    border-bottom: 1px solid red;
  }
  .btn-ctn,p,body{
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }
  .pizzaIMG{
    display:inline;
  }
}

@media only screen and (max-width: 720px){
  #title,.subtag{
    display: none;
  }
  p {
    width: 300px;
    font-size: 14px;
    text-align: center;
  }
  .btn-ctn {
    display:inline;
    flex-direction: row;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    padding-bottom: 30px;
    border-bottom: 1px solid red;
  }
  .btn-ctn,p,body{
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }
  .pizzaIMG{
    display:flex;
  }
}

@media only screen and (min-width: 735px){
  #title,.subtag{
    display: inline-block;
  }
  h2.subtag{
    display: block;
    width: 100%;
 }
  .pizzaIMG{
    display:none;
  }
  #title {
    font-size: 500%;
    height: 160px;
    border-bottom: 1px solid red;
    margin-bottom: 1.5px;
    margin-top: -1%;
  }

  .subtag {
    font-family: "Neuton", serif;
    font-size: 10px;
    font-weight: 300;
    border-top: 1px solid green;
    padding: 3px;
    margin-top: 1.5px;
  }
}
