@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");

@import url("https://fonts.googleapis.com/css?family=Neuton&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Bangers", cursive;
}

p {
  padding-left: 10%;
  padding-right: 10%;
}

header {
  padding: 12% 0;
}
