* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Bangers", cursive;
  background-color: #aaa;
}

.banner-logo {
  position: relative;
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}

.banner-logo:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 1.5px;
  left: 1.5px;
  right: 1.5px;
  bottom: 1.5px;
  border-bottom: 1px solid green;
}

.subtag {
  font-family: "Neuton", serif;
}

@media only screen and (min-width: 320px) {
  .banner-logo {
    margin-bottom: 1.5px;
    margin-top: -1%;
    font-size: 325%;
    color: #77b55a;
    text-decoration: none;
    text-shadow: -1.5px 2px 0px #af0d1a;
  }

  .subtag {
    font-size: 45%;
    font-weight: 100;
  }

  .pizza-slice {
    text-shadow: none;
  }
}

@media only screen and (min-width: 768px) {
  .banner-logo {
    font-size: 700%;
  }
}

@media only screen and (min-width: 1024px) {
}
