* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@media only screen and (min-width: 320px) {
  .exercise-form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .exercise-btn-ctn {
    margin: 10px;
    display: flex;
    flex-direction: row;
  }

  .create-exercise-results-container{
    text-align: center;
  }

  .exercise-form-input {
    font-size: 2.32vw;
  }

  .exercise-list-label {
    font-weight: bold;
  }

}

@media only screen and (min-width: 768px) {
  .create-exercise-results-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .exercise-form-main {
    font-size: 3vw;
  }

  .exercise-btn-ctn {
    justify-content: center;
  }

  .exercise-list {
    margin: 10px;
    flex-grow: 1;
    text-align: left;
  }

  .exercise-form-input {
    font-size: 1.32vw;
  }
}

@media only screen and (min-width: 1024px) {
  .exercise-form-label {
    font-size: 2vw;
  }

  .exercise-form-input {
    font-size: .99vw;
  }
}